<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Usuários</h1>
        {{#each users}}
            <div class="user-box">
                <h2>{{this.first_name}} {{this.last_name}}</h2>
                <p>Email: {{this.email}}</p>
                <h3>Pets:</h3>
                <ul>
                    {{#each this.pets}}
                        <li>
                            Nome do Pet: {{this._id.name}} <br>
                            Tipo: {{this._id.type}} <br>
                            Idade: {{this._id.age}}
                        </li>
                    {{else}}
                        <p>Nenhum pet cadastrado.</p>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <p>Nenhum usuário cadastrado.</p>
        {{/each}}
    </div>
</body>
</html>